openapi: 3.0.3
info:
  title: Yijie Public API
  version: 0.3.0
  description: Public HTTP contract for Yijie clients.
servers:
  - url: https://api.yijie.ai
security: []
tags:
  - name: System
    description: Service health and readiness endpoints.
  - name: Access
    description: Authenticated user, tenant-selection, and capability projection endpoints.
  - name: Tasks
    description: Agent task lifecycle endpoints.
paths:
  /healthz:
    get:
      operationId: getHealth
      summary: Check process health
      tags: [System]
      responses:
        "200":
          description: Process is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceStatus"
  /readyz:
    get:
      operationId: getReadiness
      summary: Check service readiness
      tags: [System]
      responses:
        "200":
          description: Service is ready to receive traffic.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Readiness"
        "503":
          description: A required dependency is unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Readiness"
  /v1/status:
    get:
      operationId: getServiceStatus
      summary: Get public service status
      tags: [System]
      responses:
        "200":
          description: Current service status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceStatus"
  /v1/me/tenants:
    get:
      operationId: listMyTenants
      summary: List active tenant memberships for the authenticated user
      description: |
        Returns only active tenant memberships for the authenticated internal user.
        This operation does not accept a tenant selection because it is the source
        used to establish the current selection. Display names are presentation-only
        and never authorize access.
      tags: [Access]
      security:
        - userBearer: []
      responses:
        "200":
          description: Active tenant memberships, which may be empty.
          headers:
            Cache-Control:
              $ref: "#/components/headers/NoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantSelectionList"
        "401":
          $ref: "#/components/responses/UserBearerUnauthorized"
        "403":
          $ref: "#/components/responses/UserAccessDenied"
        "500":
          $ref: "#/components/responses/AccessInternalError"
        "503":
          $ref: "#/components/responses/AuthorizationUnavailable"
  /v1/me/capabilities:
    get:
      operationId: getMyCapabilities
      summary: Get the authenticated user's capability projection for one tenant
      description: |
        Computes an allow-only, read-only capability snapshot after independently
        verifying the authenticated user, selected tenant, active membership, and
        tenant-scoped roles. The tenant header is an untrusted selection hint and
        never serves as proof of authorization.
      tags: [Access]
      security:
        - userBearer: []
      parameters:
        - $ref: "#/components/parameters/TenantIdHeader"
      responses:
        "200":
          description: A complete capability snapshot; the capability array may be empty.
          headers:
            Cache-Control:
              $ref: "#/components/headers/NoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilityProjection"
        "400":
          $ref: "#/components/responses/InvalidTenantContext"
        "401":
          $ref: "#/components/responses/UserBearerUnauthorized"
        "403":
          $ref: "#/components/responses/TenantAccessDenied"
        "500":
          $ref: "#/components/responses/AccessInternalError"
        "503":
          $ref: "#/components/responses/AuthorizationUnavailable"
  /v1/tasks:
    post:
      operationId: createTask
      summary: Create an agent task
      tags: [Tasks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTaskRequest"
      responses:
        "201":
          description: Task created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          description: Request is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Task could not be persisted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/tasks/{task_id}:
    parameters:
      - name: task_id
        in: path
        required: true
        description: Task identifier.
        schema:
          type: string
          format: uuid
    get:
      operationId: getTask
      summary: Get a task by identifier
      tags: [Tasks]
      responses:
        "200":
          description: Task found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          description: Task identifier is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Task was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Task could not be read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    userBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        External IdP access JWT for the Yijie API audience
        `https://api.yijie.ai`. The API validates the configured issuer, RS256
        signature, exact audience, time claims, and JWKS key. ID tokens, profile
        claims, and token roles are not authorization facts.
  parameters:
    TenantIdHeader:
      name: X-Yijie-Tenant-ID
      in: header
      required: true
      description: |
        UUID of the tenant selected by the client. This is an untrusted selection
        hint; the API independently verifies the authenticated user, tenant, active
        membership, and tenant-scoped roles for every request.
      schema:
        type: string
        format: uuid
  headers:
    NoStore:
      description: Prevents authenticated identity, tenant, and permission data from being cached.
      required: true
      schema:
        type: string
        enum: [no-store]
    BearerChallenge:
      description: Bearer authentication challenge without credential details.
      required: true
      schema:
        type: string
        pattern: "^Bearer(?: .*)?$"
    RetryAfter:
      description: Optional delay before retrying an unavailable authorization dependency.
      schema:
        type: string
        minLength: 1
  responses:
    InvalidTenantContext:
      description: "`invalid_tenant_context`: `X-Yijie-Tenant-ID` is missing or is not a UUID."
      x-yijie-error-code: invalid_tenant_context
      headers:
        Cache-Control:
          $ref: "#/components/headers/NoStore"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UserBearerUnauthorized:
      description: "`unauthorized`: a valid external IdP access JWT is required."
      x-yijie-error-code: unauthorized
      headers:
        Cache-Control:
          $ref: "#/components/headers/NoStore"
        WWW-Authenticate:
          $ref: "#/components/headers/BearerChallenge"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UserAccessDenied:
      description: "`user_access_denied`: the authenticated internal user is suspended or denied."
      x-yijie-error-code: user_access_denied
      headers:
        Cache-Control:
          $ref: "#/components/headers/NoStore"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TenantAccessDenied:
      description: "`tenant_access_denied`: the selected tenant or active membership is denied."
      x-yijie-error-code: tenant_access_denied
      headers:
        Cache-Control:
          $ref: "#/components/headers/NoStore"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    AccessInternalError:
      description: "`internal_error`: the access operation failed without exposing internal details."
      x-yijie-error-code: internal_error
      headers:
        Cache-Control:
          $ref: "#/components/headers/NoStore"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    AuthorizationUnavailable:
      description: "`authorization_unavailable`: identity, JWKS, membership, or RBAC data is unavailable."
      x-yijie-error-code: authorization_unavailable
      headers:
        Cache-Control:
          $ref: "#/components/headers/NoStore"
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    Readiness:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          type: string
          enum: [ready, not_ready]
    ServiceStatus:
      type: object
      additionalProperties: false
      required: [service, status, environment, database, cache]
      properties:
        service:
          type: string
          enum: [yijie-api]
        status:
          type: string
          enum: [ok, degraded]
        environment:
          type: string
        database:
          type: string
        cache:
          type: string
    TenantSelectionList:
      type: object
      additionalProperties: false
      required: [tenants]
      properties:
        tenants:
          type: array
          description: Active memberships available to the authenticated user.
          items:
            $ref: "#/components/schemas/TenantSelection"
    TenantSelection:
      type: object
      additionalProperties: false
      required: [tenant_id, display_name]
      properties:
        tenant_id:
          type: string
          format: uuid
        display_name:
          type: string
          description: Presentation-only tenant name; never used for authorization.
          minLength: 1
          maxLength: 200
    CapabilityProjection:
      type: object
      additionalProperties: false
      required:
        - schema_version
        - tenant_id
        - authorization_revision
        - expires_at
        - capabilities
      properties:
        schema_version:
          type: integer
          format: int32
          enum: [1]
        tenant_id:
          type: string
          format: uuid
          description: Verified tenant identifier echoed for context matching, not proof of authorization.
        authorization_revision:
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          description: Tenant authorization snapshot revision within the JavaScript safe-integer range.
        expires_at:
          type: string
          format: date-time
          description: Snapshot expiry, no later than five minutes after issuance.
        capabilities:
          type: array
          description: Sorted, unique, allow-only capability keys. Unknown valid keys are ignored by consumers.
          maxItems: 256
          uniqueItems: true
          items:
            $ref: "#/components/schemas/CapabilityKey"
    CapabilityKey:
      type: string
      description: |
        Open namespaced capability key. The initial values are governance metadata,
        not a closed enum; consumers must ignore unknown valid values.
      minLength: 3
      maxLength: 128
      pattern: '^[a-z][a-z0-9_]*(?:\.[a-z][a-z0-9_]*)+$'
      x-yijie-initial-values:
        - knowledge.read
        - plugin.read
        - schedule.read
        - store.read
        - task.create
        - task.read
        - workspace.use
    CreateTaskRequest:
      type: object
      additionalProperties: false
      required: [tenant_id, task_type, title, input]
      properties:
        tenant_id:
          type: string
          format: uuid
        task_type:
          type: string
          minLength: 1
          maxLength: 100
        title:
          type: string
          minLength: 1
          maxLength: 200
        input:
          type: object
          additionalProperties: true
    Task:
      type: object
      additionalProperties: false
      required:
        - id
        - tenant_id
        - task_type
        - title
        - status
        - input
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        task_type:
          type: string
        title:
          type: string
        status:
          type: string
          enum: [draft, running, waiting_approval, completed, failed]
        input:
          type: object
          additionalProperties: true
        result:
          type: object
          additionalProperties: true
          nullable: true
        error_message:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
